body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #000;
}
h1 {
  color: #fff;
  font-size: 50px;
  font-weight: lighter;
}
a {
  color: aquamarine;
  font-size: 16px;
}
h2 {
  color: #fff;
  font-weight: lighter;
  font-size: 42px;
}
p {
  font-size: 21px;
  color: grey;
}

img {
  color: grey;
}
